In [155]:
import pandas as pd
import numpy as np
import seaborn as sns

In [156]:
dataset = pd.read_csv("weatherAUS.csv", sep=",")
dataset

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [157]:
dataset.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [158]:
#dataset.groupby("Evaporation").size()
#dataset.duplicated().sum()
#dataset.info()
dataset.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [159]:
dataset.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [160]:
dataset.dropna(inplace=True)

In [161]:
dataset.reset_index(drop=True)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
1,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
2,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
3,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
4,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56415,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
56416,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
56417,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
56418,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
56419,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

In [162]:
dataset.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [163]:
dataset = dataset.drop(columns="Date", axis=1)

In [164]:
range(0,len(dataset.columns),1)

range(0, 22)

In [165]:
numerical_cols = dataset.select_dtypes(include=['float64', 'int64']).columns

#Calculate Q1, Q3, and IQR for the numerical columns
Q1 = dataset[numerical_cols].quantile(0.25)
Q3 = dataset[numerical_cols].quantile(0.75)
IQR = Q3 - Q1

# Define the bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter the DataFrame to remove outliers
df_no_outliers = dataset[~((dataset[numerical_cols] < lower_bound) | (dataset[numerical_cols] > upper_bound)).any(axis=1)]
df_no_outliers

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,SW,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6052,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,NNW,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,WSW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,WNW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
6055,Cobar,27.1,36.1,0.0,13.0,0.0,N,43.0,N,WNW,...,26.0,19.0,1007.7,1007.4,8.0,8.0,30.7,34.3,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,NE,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
142299,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,SE,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
142300,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,W,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
142301,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,NNW,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
142302,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,NNW,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

In [166]:
from sklearn.preprocessing import StandardScaler

StandardScaler = StandardScaler()
int_columns = df_no_outliers.select_dtypes(include=["int64", "float64"]).columns
int_columns

for column in int_columns:
    df_no_outliers.loc[:,column] =   StandardScaler.fit_transform(df_no_outliers.loc[:, column].values.reshape(-1, 1))

In [167]:
df_no_outliers

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,Cobar,0.740056,1.609849,-0.386229,2.152373,1.130410,SSW,0.870741,ENE,SW,...,-2.682349,-1.851884,-1.914184,-1.771089,-0.675360,0.384390,1.302524,1.596793,No,No
6052,Cobar,0.972667,1.974703,-0.386229,1.755862,0.649802,NNE,0.688044,NNE,NNW,...,-1.343188,-1.361594,-0.953537,-1.007988,-1.036260,0.761921,1.629292,1.830360,No,No
6053,Cobar,1.360352,2.096321,-0.386229,1.954117,1.102139,WNW,-0.682191,WNW,WSW,...,-1.647543,-1.361594,-0.889494,-1.023886,-1.036260,0.384390,1.691533,1.939359,No,No
6054,Cobar,1.717023,2.491579,-0.386229,1.888032,0.027839,WNW,-0.316795,NW,WNW,...,-2.743220,-1.742930,-1.209710,-1.294151,-1.036260,0.761921,2.391750,2.250782,No,No
6055,Cobar,2.166738,1.746669,-0.386229,2.482798,-2.346930,N,0.413997,N,WNW,...,-2.317123,-1.525024,-1.690033,-1.294151,1.490044,1.516982,1.940499,1.736934,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,Darwin,0.957160,1.336209,-0.386229,0.169820,0.762886,ENE,-0.316795,SE,NE,...,-0.064898,-0.816827,-0.697365,-0.801315,-1.397161,-1.125734,0.975756,1.425510,No,No
142299,Darwin,1.251800,1.214591,-0.386229,0.698500,0.084381,E,-0.134097,SE,SE,...,-0.490994,-1.034734,-0.585289,-0.690030,1.129143,-1.503265,1.022437,1.378797,No,No
142300,Darwin,1.174263,1.244995,-0.386229,0.037649,0.762886,E,-0.499493,E,W,...,-1.099704,-1.307117,-0.473214,-0.594642,-1.397161,-1.503265,1.022437,1.394368,No,No
142301,Darwin,0.988174,1.092973,-0.386229,0.235905,0.649802,ESE,-1.138936,SE,NNW,...,-0.125769,0.599566,-0.537257,-0.769519,-1.036260,-1.125734,1.022437,0.942805,No,No
142302,Darwin,1.096726,1.077771,-0.386229,0.037649,0.678073,ENE,-0.773540,ENE,NNW,...,0.543812,-0.816827,-0.697365,-0.928499,0.768242,0.384390,1.115799,1.223086,No,No

In [168]:
from sklearn.preprocessing import LabelEncoder

LabelEncoder = LabelEncoder()
for column in df_no_outliers.columns:
    if df_no_outliers[column].dtype == "object":
        df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])

/tmp/ipykernel_489905/471212314.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])
/tmp/ipykernel_489905/471212314.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])
/tmp/ipykernel_489905/471212314.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])
/tmp/ipykernel_489905/471212314.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])
/tmp/ipykernel_489905/471212314.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])
/tmp/ipykernel_489905/471212314.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers[column] = LabelEncoder.fit_transform(df_no_outliers[column])

In [171]:
dataset_scaled = pd.DataFrame(df_no_outliers, columns=df_no_outliers.columns)
dataset_scaled

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,4,0.740056,1.609849,-0.386229,2.152373,1.130410,11,0.870741,1,12,...,-2.682349,-1.851884,-1.914184,-1.771089,-0.675360,0.384390,1.302524,1.596793,0,0
6052,4,0.972667,1.974703,-0.386229,1.755862,0.649802,5,0.688044,5,6,...,-1.343188,-1.361594,-0.953537,-1.007988,-1.036260,0.761921,1.629292,1.830360,0,0
6053,4,1.360352,2.096321,-0.386229,1.954117,1.102139,14,-0.682191,14,15,...,-1.647543,-1.361594,-0.889494,-1.023886,-1.036260,0.384390,1.691533,1.939359,0,0
6054,4,1.717023,2.491579,-0.386229,1.888032,0.027839,14,-0.316795,7,14,...,-2.743220,-1.742930,-1.209710,-1.294151,-1.036260,0.761921,2.391750,2.250782,0,0
6055,4,2.166738,1.746669,-0.386229,2.482798,-2.346930,3,0.413997,3,14,...,-2.317123,-1.525024,-1.690033,-1.294151,1.490044,1.516982,1.940499,1.736934,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,6,0.957160,1.336209,-0.386229,0.169820,0.762886,1,-0.316795,9,4,...,-0.064898,-0.816827,-0.697365,-0.801315,-1.397161,-1.125734,0.975756,1.425510,0,0
142299,6,1.251800,1.214591,-0.386229,0.698500,0.084381,0,-0.134097,9,9,...,-0.490994,-1.034734,-0.585289,-0.690030,1.129143,-1.503265,1.022437,1.378797,0,0
142300,6,1.174263,1.244995,-0.386229,0.037649,0.762886,0,-0.499493,0,13,...,-1.099704,-1.307117,-0.473214,-0.594642,-1.397161,-1.503265,1.022437,1.394368,0,0
142301,6,0.988174,1.092973,-0.386229,0.235905,0.649802,2,-1.138936,9,6,...,-0.125769,0.599566,-0.537257,-0.769519,-1.036260,-1.125734,1.022437,0.942805,0,0
142302,6,1.096726,1.077771,-0.386229,0.037649,0.678073,1,-0.773540,1,6,...,0.543812,-0.816827,-0.697365,-0.928499,0.768242,0.384390,1.115799,1.223086,0,0

In [170]:
dataset_scaled.describe()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
count,41723.000000,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,41723.000000,4.172300e+04,41723.000000,41723.000000,...,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,4.172300e+04,41723.000000,41723.000000
mean,12.698512,1.416896e-16,-2.043600e-16,5.585840e-17,1.226160e-16,-3.215264e-16,7.133715,1.220200e-16,6.809601,7.251588,...,-1.703000e-18,-1.018394e-16,1.053953e-14,7.613092e-15,-7.425080e-17,-1.634880e-17,-2.070848e-16,1.362400e-16,0.026005,0.152745
std,7.273882,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,4.782742,1.000012e+00,4.645058,4.711097,...,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,0.159151,0.359746
min,0.000000,-2.935200e+00,-3.118046e+00,-3.862294e-01,-1.812734e+00,-2.346930e+00,0.000000,-2.691869e+00,0.000000,0.000000,...,-2.743220e+00,-2.505604e+00,-3.066959e+00,-3.074720e+00,-1.397161e+00,-1.503265e+00,-2.945457e+00,-3.027839e+00,0.000000,0.000000
25%,7.000000,-7.641630e-01,-7.769019e-01,-3.862294e-01,-7.553720e-01,-6.223955e-01,3.000000,-6.821912e-01,3.000000,3.000000,...,-6.127363e-01,-7.078740e-01,-6.973649e-01,-7.218254e-01,-1.036260e+00,-1.125734e+00,-7.670055e-01,-7.700221e-01,0.000000,0.000000
50%,13.000000,-3.531473e-02,-1.679012e-02,-3.862294e-01,-9.452089e-02,2.822782e-01,7.000000,-1.340973e-01,7.000000,8.000000,...,5.684431e-02,5.479916e-02,-4.092316e-02,-3.821404e-02,4.644141e-02,6.858769e-03,-5.122843e-02,-2.260678e-02,0.000000,0.000000
75%,19.000000,7.710706e-01,7.889283e-01,-3.862294e-01,6.985004e-01,7.346151e-01,11.000000,5.053456e-01,11.000000,11.000000,...,6.655539e-01,6.540424e-01,6.795617e-01,6.930911e-01,1.129143e+00,1.139451e+00,7.734712e-01,7.715220e-01,0.000000,0.000000
max,25.000000,2.569930e+00,3.130072e+00,4.998843e+00,2.912352e+00,1.752373e+00,15.000000,3.063117e+00,15.000000,15.000000,...,2.187328e+00,2.887585e+00,2.744952e+00,2.823415e+00,1.490044e+00,1.894513e+00,2.951923e+00,3.138337e+00,1.000000,1.000000

In [172]:
df_no_outliers.to_csv('dataset_scaled_no_outliers.csv', sep=',', encoding='utf-8', index = False)